{% extends 'base.html.twig' %}
{% block title 'Administrate numbers' %}
{% block body %}
{{ include ('admin/_active.html.twig') }}
<div class="container mt-4">
   <h1> Numbers : </h1>
  
   <table class="table table-striped">
     
      <tbody>
      
            <tr>
              <td>Total number of categories</td>
              <td>{{nbrCat}}</td>

            </tr>
            <tr>
              <td>Total number of mangas</td>
              <td> {{nbrM}}</td>

            </tr>
            <tr>
              <td>Total number of orders</td>
              <td>{{nbrOr}} </td>

            </tr>
            <tr>
              <td>Total amount of orders</td>
              <td>{{total + 0.0 }} TND </td>

            </tr>
            <tr>
              <td>Total number of reviews</td>
              <td>{{nbrRev}}</td>

            </tr>
       
      </tbody>
      </table>
      <h6>PS:For testing the orders page ,can you please add an order directly in the database because i found a problem in the adding processing !<h6>
      
</div>
  



{% endblock %}